.venv/
.uv-cache/
__pycache__/
*.pyc
cache/*
!cache/README.md
dataset/*
!dataset/README.md
!dataset/train/
!dataset/test/
dataset/train/*
!dataset/train/README.md
dataset/test/*
!dataset/test/README.md
output/*
!output/README.md
models/*.pkl
!models/final_model.pkl
reports/history/
*_submission.zip
